altair
apscheduler
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
frozendict
gitdb
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
kiwisolver
markupsafe
matplotlib
multitasking
narwhals
numpy
packaging
pandas
peewee
pillow
platformdirs
plotly
protobuf
pyarrow
pycoingecko
pydeck
pyparsing
python-dateutil
python-telegram-bot
pytz
referencing
requests
rpds-py
setuptools
six
smmap
soupsieve
streamlit
tenacity
toml
tornado
typing-extensions
tzdata
tzlocal
urllib3
watchdog
yfinance
